/*------------------------------------------------------------------
[Table of contents]
基础样式
列表样式
表单样式
按钮样式
tab样式
modal样式
-------------------------------------------------------------------*/


/* 基础样式
-------------------------------------------------------------------*/


/*icon字体*/

@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/icomoon.eot?e4jx6k');
    src: url('fonts/icomoon.eot?e4jx6k#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?e4jx6k') format('truetype'), url('fonts/icomoon.woff?e4jx6k') format('woff'), url('fonts/icomoon.svg?e4jx6k#icomoon') format('svg');
}

[class^="ui-icon-"],
[class*=" ui-icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-weight: normal;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*布局*/


/*父元素-横向排列*/

.ui-flex-v {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ui-flex-1 {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ui-flex-1w {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.ui-flex-shrink-0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-left: 0.25rem;
    white-space: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.ui-flex-shrink-1 {
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.ui-webkit-box {
    display: -webkit-box;
    -webkit-box-flex: 1;
}

.ui-webkit-box-center {
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.show {
    display: block;
}

.hide {
    display: hide;
}


/*width*/

.wp100 {
    width: 100%;
}


/*margin*/

.m20 {
    margin: .2rem;
}

.mt15 {
    margin-top: .15rem;
}

.mr15 {
    margin-right: .15rem;
}

.ml15 {
    margin-left: .15rem;
}


/*padding*/

.pt15 {
    padding-top: .15rem;
}

.pr15 {
    padding-right: .15rem;
}

.pr50 {
    padding-right: .5rem;
}

.pb15 {
    padding-bottom: .15rem;
}

.pl30 {
    padding-left: .3rem;
}

.pl100 {
    padding-left: 1rem;
}

.pl120 {
    padding-left: 1.2rem;
}


/*背景颜色*/

.ui-bg-orange {
    background-color: #fd7954;
}


/*边框*/

.ui-border-t {
    border-top: 1px solid #e2e4e5;
}

.ui-border-b {
    border-bottom: 1px solid #e2e4e5;
}

.ui-border-tb {
    border-top: 1px solid #e2e4e5;
    border-bottom: 1px solid #e2e4e5;
}


/*截断*/

.ui-nowrap {
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-nowrap-multi {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/*icon*/

.ui-icon {
    display: inline-block;
}

.ui-icon-control {
    position: absolute;
    top: 50%;
    right: 0.15rem;
    width: .28rem;
    height: .28rem;
    margin-top: -.14rem;
    color: #a9a9a9;
}

.ui-icon-park:before {
    content: "\e900";
}

.ui-icon-mine:before {
    content: "\e901";
}

.ui-icon-position:before {
    content: "\e902";
}

.ui-icon-share:before {
    content: "\e903";
}

.ui-icon-success:before {
    content: "\e904";
}

.ui-icon-partner:before {
    content: "\e905";
}

.ui-icon-clock:before {
    content: "\e906";
}

.ui-icon-folder:before {
    content: "\e907";
}

.ui-icon-user:before {
    content: "\e908";
}

.ui-icon-add:before {
    content: "\e909";
}

.ui-icon-loading:before {
    content: "\e90a";
}

.ui-icon-arrow:before {
    content: "\e90b";
}

.ui-icon-setting:before {
    content: "\e90c";
}

.ui-icon-lock:before {
    content: "\e90d";
}

.ui-icon-like:before {
    content: "\e90e";
}

.ui-icon-comment:before {
    content: "\e90f";
}

.ui-icon-coin:before {
    content: "\e910";
}

.ui-icon-renshu:before {
    content: "\e911";
}

.ui-icon-shaixuan:before {
    content: "\e912";
}

.ui-icon-trash:before {
    content: "\e913";
}

.ui-icon-delete:before {
    content: "\e914";
}

.ui-icon-shape:before {
    content: "\e915";
}

.ui-icon-star:before {
    content: "\e916";
}

.ui-icon-radio-normal:before {
    content: "\e917";
}

.ui-icon-team:before {
    content: "\e918";
}

.ui-icon-file:before {
    content: "\e919";
}

.ui-icon-camera:before {
    content: "\e91a";
}

.ui-icon-radio-pressed:before {
    content: "\e91b";
}


/*各种元素*/

.ui-heading {
    padding: .2rem 0;
    font-size: .28rem;
    line-height: .28rem;
    font-weight: 200;
}

.ui-heading-blue {
    font-size: .28rem;
    line-height: .28rem;
    color: #000;
}

.ui-text-link {
    font-size: .28rem;
    color: #44cef6;
}

.ui-section-header {
    width: 100%;
    /* height: .2rem; */
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-size: .24rem;
    color: #a9a9a9;
    background-color: #f2f2f2;
}

.ui-avatar {
    display: table-cell;
    overflow: hidden;
    width: .72rem;
    height: .72rem;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
}

.ui-avatar img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.ui-control {
    display: -webkit-box;
    width: .8rem;
}

.ui-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #f2f2f2;
}

.ui-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.65;
}


/* 列表样式
-------------------------------------------------------------------*/

.ui-list {
    width: 100%;
    background-color: #fff;
}

.ui-list li {
    display: -webkit-box;
    position: relative;
    margin-left: .15rem;
    padding: .2rem 0;
    border-bottom: 1px solid #e2e4e5;
    font-size: .28rem;
    font-weight: 500;
}

.ui-list li:last-child {
    border: none;
    background-image: none;
}

.ui-list li:active {
    margin-left: 0;
    padding-left: .15rem;
    background-color: #e5e6e7;
}

.ui-list-noactive li:active {
    background-color: #e5e6e7;
}

.ui-list li h3 {
    font-size: .28rem;
    font-weight: 500;
}

.ui-list-link li:after,
.ui-form-link:after,
.ui-form-arrow:after {
    display: block;
    position: absolute;
    top: 50%;
    right: .15rem;
    margin-top: -.14rem;
    font-family: 'icomoon' !important;
    font-size: .28rem;
    font-style: normal;
    line-height: .28rem;
    content: "\e90b";
    -webkit-font-smoothing: antialiased;
}

.ui-list-card {
    display: block;
    position: relative;
    margin-left: .15rem;
    padding: .2rem 0;
}

.ui-list-card li {
    font-size: .24rem;
    color: #999;
}

.ui-list-card h3 {
    padding: .2rem 0;
    color: #000;
}


/*列表图*/

.ui-list-thumb {
    display: table-cell;
    overflow: hidden;
    width: 1.12rem;
    height: 1.12rem;
    margin-right: .15rem;
    text-align: center;
    vertical-align: middle;
}

.ui-list-thumb img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.ui-list-largepic {
    overflow: hidden;
    height: 2.8rem;
    text-align: center;
}

.ui-list-largepic img {
    width: 100%;
    min-height: 2.8rem;
}


/*列表信息*/

.ui-list-info {
    display: -webkit-box;
    padding-right: .15rem;
    font-size: .28rem;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

.ui-list-info p {
    font-size: .24rem;
    color: #888;
}

.ui-list-link .ui-list-info {
    padding-right: .5rem;
}

.ui-list-pulldown:before {
    position: absolute;
    top: .2rem;
    left: 50%;
    width: .5rem;
    height: .5rem;
    margin-left: -.25rem;
    font-family: 'icomoon' !important;
    font-size: .5rem;
    line-height: .5rem;
    text-align: center;
    content: '\e90a';
    -webkit-animation: loading 1s steps(12, end) infinite;
    animation: loading 1s steps(12, end) infinite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-list-pullup {
    width: 100%;
    height: 1rem;
    border-top: 1px solid #e2e4e5;
    line-height: 1rem;
    text-align: center;
}

.ui-list-pullup.hide {
    -webkit-animation: h 1s ease-in-out;
    animation: h 1s ease-in-out;
}

@-webkit-keyframes h {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes h {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

.ui-preload:after {
    display: block;
    font-family: 'icomoon' !important;
    font-size: .5rem;
    text-align: center;
    content: '\e90a';
    -webkit-animation: loading 1s steps(12, end) infinite;
    animation: loading 1s steps(12, end) infinite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
        -webkit-animation: rotate(360deg);
    }
}

.ui-scroller-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100%;
}

.ui-scroller {
    min-height: 101%;
}

/* 表单样式
-------------------------------------------------------------------*/

.ui-form-item {
    position: relative;
    margin-left: .15rem;
    padding: .2rem 0;
    border-bottom: 1px solid #e2e4e5;
    font-size: .28rem;
}

.ui-form .ui-form-item:last-child {
    border-bottom: none;
}

.ui-form-item label:not(.ui-label-switch):not(.ui-label-checkbox) {
    position: absolute;
    left: 0;
    width: 1rem;
}

.ui-form-item input,
.ui-form-item textarea,
.ui-list textarea {
    display: block;
    box-sizing: border-box;
    margin-right: .6rem;
    /* width: 100%;*/
    border: none;
    font-size: .28rem;
    vertical-align: middle;
}

.ui-form input[placeholder],
.ui-form textarea[placeholder] {
    font-size: .28rem;
    vertical-align: middle;
    color: #999;
}


/*ui-switch*/

.ui-label-switch {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    line-height: 1rem;
}

.ui-label-switch input {
    display: none;
}

.ui-switch {
    position: absolute;
    top: 50%;
    right: .15rem;
    width: .56rem;
    height: .3rem;
    margin-top: -0.15rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui-switch:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: .56rem;
    height: .2rem;
    margin-top: -0.1rem;
    background-color: #a7a7a7;
    content: "";
    border-radius: .05rem;
}

.ui-switch:after {
    position: absolute;
    left: -0.1rem;
    width: .3rem;
    height: .3rem;
    background-color: #e8e8e8;
    -webkit-transition: left .2s;
    transition: left .2s;
    content: "";
    border-radius: 100%;
}

.ui-label-switch input[type="checkbox"]:checked + .ui-switch:before {
    border-color: #fbb39e;
    background-color: #fbb39e;
    -webkit-transition: border .4s, box-shadow .4s, background-color 1.2s;
    transition: border .4s, box-shadow .4s, background-color 1.2s;
    box-shadow: 0 0 0 .1rem #fbb39e inset;
}

.ui-label-switch input[type="checkbox"]:checked + .ui-switch:after {
    left: .32rem;
    background-color: #fd7954;
}


/*ui-checkbox*/

.ui-label-checkbox {
    display: inline-block;
}

.ui-label-checkbox input {
    display: none;
    overflow: hidden;
    width: .3rem;
    height: .3rem;
    border: none;
    outline: 0;
}

.ui-label-checkbox input:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: .3rem;
    height: .3rem;
    margin-top: -.15rem;
    border: 1px solid #44cef6;
    content: '';
    border-radius: .04rem;
}

.ui-label-checkbox input:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: .3rem;
    height: .3rem;
    margin-top: -.15rem;
    border: 1px solid #44cef6;
    content: '';
    border-radius: 50%;
}

.ui-input-container {
    display: -webkit-box;
    height: .9rem;
}

.ui-input-container .ui-input {
    display: -webkit-box;
    height: .5rem;
    margin: .2rem;
    border: 1px solid #e9e9e9;
    font-size: .28rem;
    border-radius: .06rem;
    -webkit-box-flex: 1;
}

.ui-input-container .ui-input input {
    height: 100%;
    border: none;
    font-size: .28rem;
}

.ui-input-container .ui-btn {
    height: .9rem;
    line-height: .9rem;
    vertical-align: middle;
}

.ui-textarea-content {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 2.5rem;
    background-color: #f2f2f2;
}

.ui-textarea-content .ui-textarea {
    width: 6rem;
    height: 1.3rem;
    margin: .2rem;
    border: 1px solid #e9e9e9;
    font-size: .24rem;
    word-break: break-all;
}

.ui-textarea-content .ui-btn {
    position: absolute;
    right: .15rem;
}


/*按钮样式
-------------------------------------------------------------------*/

.ui-btn-lg {
    display: block;
    width: 100%;
    height: .8rem;
    font-size: .36rem;
    line-height: .8rem;
    text-align: center;
    border-radius: .1rem;
}

.ui-btn-default {
    color: #fff;
    background-color: #fd7954;
}

.ui-btn {
    display: inline-block;
    width: .8rem;
    height: .5rem;
    font-size: .24rem;
    line-height: .5rem;
    text-align: center;
    border-radius: .04rem;
}

.ui-btn-lg.disabled,
.ui-btn.disabled {
    color: #a9a9a9;
    background-color: #f8f8f8;
}


/*tab样式
-------------------------------------------------------------------*/

.ui-tab {
    display: -webkit-box;
    width: 100%;
}

.ui-tab li {
    display: -webkit-box;
    width: 100%;
    font-size: .28rem;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.ui-tab-bb {
    border-bottom: 1px solid #e2e4e5;
}

.ui-tab-bb li {
    position: relative;
    padding: .2rem 0;
}

.ui-tab-bb li:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: .3rem;
    margin-top: -.15rem;
    border-right: 1px solid #e2e4e5;
    content: "";
}

.ui-tab-bb .active {
    border-bottom: 1px solid #fd7954;
}


/* modal样式
-------------------------------------------------------------------*/

.ui-modal {
    display: -webkit-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    padding: 0 .2rem;
    background: rgba(0, 0, 0, .4);
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.ui-modal.ui-modal-toast {
    padding: 0 1rem;
    color: #fff;
}

.ui-modal-content {
    position: relative;
    width: 100%;
    font-size: .28rem;
    font-size: .36rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .1rem;
}

.ui-modal-actions .ui-modal-content {
    position: absolute;
    right: .2rem;
    bottom: 0;
    left: .2rem;
    width: auto;
}

.ui-modal-toast .ui-modal-content {
    background-color: #000;
    opacity: .7;
}

.ui-modal-title {
    position: relative;
    padding: .2rem;
    border-bottom: 1px solid #e2e4e5;
    text-align: center;
}

.ui-modal-toast .ui-modal-title {
    border: none;
}

.ui-modal-text {
    display: -webkit-box;
    display: box;
    padding: .2rem;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}

.ui-modal-input {
    display: -webkit-box;
    margin: .2rem;
    border: 1px solid #e2e4e5;
}

.ui-modal-input input {
    display: -webkit-box;
    box-sizing: border-box;
    width: 100%;
    padding: .2rem;
    border: none;
    font-size: .28rem;
    -webkit-box-flex: 1;
}

.ui-modal-buttons {
    display: -webkit-box;
    position: relative;
    width: 100%;
    border-top: 1px solid #e2e4e5;
    color: #66a1ee;
}

.ui-modal-button {
    display: block;
    padding: .2rem 0;
    text-align: center;
    -webkit-box-flex: 1;
}

.ui-modal-actions .ui-modal-buttons {
    -webkit-box-orient: vertical;
}

.ui-modal-confirm .ui-modal-button,
.ui-modal-prompt .ui-modal-button {
    border-right: 1px solid #e2e4e5;
}

.ui-modal-toast .ui-modal-buttons,
.ui-modal-actions .ui-modal-buttons {
    border: none;
}

.ui-modal-actions .ui-modal-button {
    border-top: 1px solid #e2e4e5;
}